node_modules
dist
build
public
coverage
*.log
*.tmp
*.cache
.vscode
.idea
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
*.sublime-workspace
*.sublime-project
*.swp
*.bak
*.orig
*.swm
*.tmp.*         
